body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.inlineblock {
	display: inline-block;
}

.game-card {
	max-height: 150px;
}

.deck {
	max-height: 160px;
}

#bt-copy-clipboard {
	margin-top: 5px;
}

#chatPanel.chatPanel--red-messages > div {
	border-color: red;
}

#chatPanel.chatPanel--red-messages > div > div {
	border-color: red;
	background-color: red;
}

#nextExpectedAction {
	border: 1px solid gray;
	background-color: lightgray;
	padding: 10px 15px;
	border-radius: 5px;
	font-weight: bold;
}

.selected {
    background-color: blue;
}

.selected-red {
    background-color: red;
}